# Preparación de los Datasets para las funciones

In [1]:
import pandas as pd
import herramientas as h
import warnings

Empezamos por filtrar las advertencias para que el código quede más prolijo

In [2]:
warnings.filterwarnings("ignore")

# PlayTimeGenre

Importamos los datasets que necesitaremos en dataframes

In [52]:
steam_games = pd.read_csv('output_steam_games.csv')
user_items = pd.read_csv('australian_users_items.csv')

Filtramos las columnas de steam_games que necesitaremos

In [54]:
steam_games = steam_games[['id', 'genres', 'release_date']]

Filtramos valores 'No data'

In [56]:
steam_games = steam_games[(steam_games['genres'] != 'No data')]

In [58]:
steam_games = steam_games[(steam_games['release_date'] != 'No data')]

In [59]:
steam_games

           id                                             genres release_date
0      761140  ['Action', 'Casual', 'Indie', 'Simulation', 'S...   2018-01-04
1      643980       ['Free to Play', 'Indie', 'RPG', 'Strategy']   2018-01-04
2      670290  ['Casual', 'Free to Play', 'Indie', 'Simulatio...   2017-07-24
3      767400                  ['Action', 'Adventure', 'Casual']   2017-12-07
5      772540              ['Action', 'Adventure', 'Simulation']   2018-01-04
...       ...                                                ...          ...
32126  745400         ['Action', 'Adventure', 'Casual', 'Indie']   2018-01-04
32127  773640      ['Casual', 'Indie', 'Simulation', 'Strategy']   2018-01-04
32128  733530                    ['Casual', 'Indie', 'Strategy']   2018-01-04
32129  610660                  ['Indie', 'Racing', 'Simulation']   2018-01-04
32130  658870                                ['Casual', 'Indie']   2017-09-02

[28832 rows x 3 columns]

Creamos la columna 'release_year' extrayendo solo el año de 'release_date' para mayor comodidad y eliminamos la columna 'release_date' y los nulos que vayan quedando en el camino

In [60]:
steam_games["release_year"] = steam_games["release_date"].str[:4]

In [62]:
steam_games.drop('release_date', axis=1, inplace=True)

In [64]:
steam_games["release_year"] = pd.to_numeric(steam_games["release_year"], errors='coerce')

In [65]:
h.data_info(steam_games)

Total rows:  28832

Total full null rows:  0

Total duplicated rows: 1

         Column              dType  No_Null_%  No_Null_Qty  Null_%  Null_Qty
0            id    [<class 'int'>]     100.00        28832    0.00         0
1        genres    [<class 'str'>]     100.00        28832    0.00         0
2  release_year  [<class 'float'>]      99.18        28596    0.82       236

In [66]:
steam_games.dropna(inplace=True)

Convertimos la columna 'release_year' a tipo entero

In [67]:
steam_games['release_year'] = steam_games['release_year'].astype(int)

In [71]:
steam_games = steam_games.reset_index(drop=True)

In [72]:
steam_games

           id                                             genres  release_year
0      761140  ['Action', 'Casual', 'Indie', 'Simulation', 'S...          2018
1      643980       ['Free to Play', 'Indie', 'RPG', 'Strategy']          2018
2      670290  ['Casual', 'Free to Play', 'Indie', 'Simulatio...          2017
3      767400                  ['Action', 'Adventure', 'Casual']          2017
4      772540              ['Action', 'Adventure', 'Simulation']          2018
...       ...                                                ...           ...
28591  745400         ['Action', 'Adventure', 'Casual', 'Indie']          2018
28592  773640      ['Casual', 'Indie', 'Simulation', 'Strategy']          2018
28593  733530                    ['Casual', 'Indie', 'Strategy']          2018
28594  610660                  ['Indie', 'Racing', 'Simulation']          2018
28595  658870                                ['Casual', 'Indie']          2017

[28596 rows x 3 columns]

In [74]:
df = pd.merge(user_items, steam_games, left_on='item_id', right_on='id')

In [75]:
df

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks,id,genres,release_year
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6,0,10,['Action'],2000
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,10,Counter-Strike,0,0,10,['Action'],2000
2,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,10,Counter-Strike,0,0,10,['Action'],2000
3,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,10,Counter-Strike,93,0,10,['Action'],2000
4,corrupted_soul,115,76561198007659921,http://steamcommunity.com/id/corrupted_soul,10,Counter-Strike,108,0,10,['Action'],2000
...,...,...,...,...,...,...,...,...,...,...,...
4125944,peter1023199,59,76561198060504260,http://steamcommunity.com/id/peter1023199,456780,DUCATI - 90th Anniversary,6,0,456780,"['Racing', 'Simulation', 'Sports']",2016
4125945,76561198071808318,10,76561198071808318,http://steamcommunity.com/profiles/76561198071...,444770,Mimpi Dreams,46,0,444770,"['Adventure', 'Indie']",2016
4125946,76561198081168593,84,76561198081168593,http://steamcommunity.com/profiles/76561198081...,375450,NOBUNAGA'S AMBITION: Souzou SengokuRisshiden,51,0,375450,['Strategy'],2016
4125947,76561198107283457,33,76561198107283457,http://steamcommunity.com/profiles/76561198107...,354280,ChaosTower,164,0,354280,"['Action', 'Casual', 'Indie', 'Simulation']",2016
4125948,inven,3603,76561198119803063,http://steamcommunity.com/id/inven,433920,Aveyond 4: Shadow Of The Mist,0,0,433920,"['Adventure', 'Indie', 'RPG']",2016

In [76]:
df_playtimegenre = df

Filtramos las columnas necesarias

In [79]:
df_playtimegenre = df_playtimegenre[['genres', 'release_year', 'playtime_forever']]

In [81]:
df_playtimegenre

,genres,release_year,playtime_forever
0,['Action'],2000,6
1,['Action'],2000,0
2,['Action'],2000,0
3,['Action'],2000,93
4,['Action'],2000,108
...,...,...,...
4125944,"['Racing', 'Simulation', 'Sports']",2016,6
4125945,"['Adventure', 'Indie']",2016,46
4125946,['Strategy'],2016,51
4125947,"['Action', 'Casual', 'Indie', 'Simulation']",2016,164
4125948,"['Adventure', 'Indie', 'RPG']",2016,0

Convertimos la columna 'genres' en listas y utilizamos explode. Luego finalmente utilizamos groupby para generar un Dataframe para cumplir de manera más sencilla con la consigna

In [82]:
df_playtimegenre['genres'] = df_playtimegenre['genres'].apply(eval)

In [83]:
df_playtimegenre = df_playtimegenre.explode('genres')

In [85]:
df_playtimegenre

             genres  release_year  playtime_forever
0            Action          2000                 6
1            Action          2000                 0
2            Action          2000                 0
3            Action          2000                93
4            Action          2000               108
...             ...           ...               ...
4125947       Indie          2016               164
4125947  Simulation          2016               164
4125948   Adventure          2016                 0
4125948       Indie          2016                 0
4125948         RPG          2016                 0

[9805136 rows x 3 columns]

In [86]:
grouped_df = df_playtimegenre.groupby(['genres', 'release_year'])['playtime_forever'].sum().reset_index()

In [87]:
grouped_df

             genres  release_year  playtime_forever
0            Action          1983              3473
1            Action          1984               384
2            Action          1988             16001
3            Action          1989               607
4            Action          1990             18335
..              ...           ...               ...
338  Web Publishing          2013            333678
339  Web Publishing          2014             33641
340  Web Publishing          2015            348673
341  Web Publishing          2016               136
342  Web Publishing          2017              9382

[343 rows x 3 columns]

In [91]:
df_playtimegenre = grouped_df

Reemplazamos '&amp' por '&'

In [92]:
df_playtimegenre['genres'] = df_playtimegenre['genres'].str.replace('&amp;', '&')

Guardamos el Dataframe en formato CSV

In [93]:
df_playtimegenre.to_csv('PlayTimeGenre.csv', index=False)

# UserForGenre

Importamos los datasets que necesitaremos y hacemos un merge

In [3]:
steam_games = pd.read_csv('output_steam_games.csv')
user_items = pd.read_csv('australian_users_items.csv')

In [4]:
df = pd.merge(user_items, steam_games, left_on='item_id', right_on='id')

In [5]:
df

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks,publisher,genres,app_name,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6,0,Valve,['Action'],Counter-Strike,http://store.steampowered.com/app/10/CounterSt...,2000-11-01,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",http://steamcommunity.com/app/10/reviews/?brow...,"['Multi-player', 'Valve Anti-Cheat enabled']",9.99,False,10,Valve
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,10,Counter-Strike,0,0,Valve,['Action'],Counter-Strike,http://store.steampowered.com/app/10/CounterSt...,2000-11-01,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",http://steamcommunity.com/app/10/reviews/?brow...,"['Multi-player', 'Valve Anti-Cheat enabled']",9.99,False,10,Valve
2,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,10,Counter-Strike,0,0,Valve,['Action'],Counter-Strike,http://store.steampowered.com/app/10/CounterSt...,2000-11-01,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",http://steamcommunity.com/app/10/reviews/?brow...,"['Multi-player', 'Valve Anti-Cheat enabled']",9.99,False,10,Valve
3,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,10,Counter-Strike,93,0,Valve,['Action'],Counter-Strike,http://store.steampowered.com/app/10/CounterSt...,2000-11-01,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",http://steamcommunity.com/app/10/reviews/?brow...,"['Multi-player', 'Valve Anti-Cheat enabled']",9.99,False,10,Valve
4,corrupted_soul,115,76561198007659921,http://steamcommunity.com/id/corrupted_soul,10,Counter-Strike,108,0,Valve,['Action'],Counter-Strike,http://store.steampowered.com/app/10/CounterSt...,2000-11-01,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",http://steamcommunity.com/app/10/reviews/?brow...,"['Multi-player', 'Valve Anti-Cheat enabled']",9.99,False,10,Valve
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4244826,76561198081168593,84,76561198081168593,http://steamcommunity.com/profiles/76561198081...,375450,NOBUNAGA'S AMBITION: Souzou SengokuRisshiden,51,0,"KOEI TECMO GAMES CO., LTD.",['Strategy'],NOBUNAGA'S AMBITION: Sphere of Influence - Asc...,http://store.steampowered.com/app/375450/NOBUN...,2016-03-23,"['Strategy', 'Historical']",http://steamcommunity.com/app/375450/reviews/?...,"['Single-player', 'Steam Achievements', 'Steam...",59.99,False,375450,"KOEI TECMO GAMES CO., LTD."
4244827,76561198101994484,139,76561198101994484,http://steamcommunity.com/profiles/76561198101...,353390,Alienware Steam Machine,0,0,No data,No data,Alienware Steam Machine,http://store.steampowered.com/app/353390/Alien...,2015-11-10,"['Steam Machine', 'Hardware', 'Gaming', 'Futur...",http://steamcommunity.com/app/353390/reviews/?...,No data,449.00,False,353390,No data
4244828,76561198107283457,33,76561198107283457,http://steamcommunity.com/profiles/76561198107...,354280,ChaosTower,164,0,CashcowGames,"['Action', 'Casual', 'Indie', 'Simulation']",ChaosTower,http://store.steampowered.com/app/354280/Chaos...,2016-02-23,"['Indie', 'Casual', 'Action', 'Simulation']",http://steamcommunity.com/app/354280/reviews/?...,"['Single-player', 'Steam Achievements', 'Steam...",5.99,False,354280,CashcowGames
4244829,inven,3603,76561198119803063,http://steamcommunity.com/id/inven,433920,Aveyond 4: Shadow Of The Mist,0,0,Degica,"['Adventure', 'Indie', 'RPG']",Aveyond 4: Shadow of the Mist,http://store.steampowered.com/app/433920/Aveyo...,2016-02-01,"['RPG', 'Indie', 'Adventure', 'RPGMaker']",http://steamcommunity.com/app/433920/reviews/?...,['Single-player'],14.99,False,433920,"Amaranth Games, LLC"
4244830,danebuchanan,140,76561198190794628,http://steamcommunity.com/id/danebuchanan,485270,Arachnophobia,7,0,No data,No data,Arachnophobia,http://store.steampowered.com/app/485270/Arach...,No data,"['Casual', 'Simulation', 'Psychological Horror...",http://steamcommunity.com/app/485270/reviews/?...,"['Single-player', 'HTC Vive', 'Oculus Rift', '...",4.99,False,485270,No data

Filtramos las columnas necesarias y eliminamos los valores "No data"

In [6]:
df_userforgenre = df[['user_id', 'genres', 'release_date', 'playtime_forever']]

In [7]:
df_userforgenre = df_userforgenre[(df_userforgenre['genres'] != 'No data')]

In [8]:
df_userforgenre = df_userforgenre[(df_userforgenre['release_date'] != 'No data')]

In [9]:
df_userforgenre

,user_id,genres,release_date,playtime_forever
0,76561197970982479,['Action'],2000-11-01,6
1,js41637,['Action'],2000-11-01,0
2,Riot-Punch,['Action'],2000-11-01,0
3,doctr,['Action'],2000-11-01,93
4,corrupted_soul,['Action'],2000-11-01,108
...,...,...,...,...
4244824,peter1023199,"['Racing', 'Simulation', 'Sports']",2016-06-09,6
4244825,76561198071808318,"['Adventure', 'Indie']",2016-03-22,46
4244826,76561198081168593,['Strategy'],2016-03-23,51
4244828,76561198107283457,"['Action', 'Casual', 'Indie', 'Simulation']",2016-02-23,164
4244829,inven,"['Adventure', 'Indie', 'RPG']",2016-02-01,0

Creamos una nueva columna llamada "release_year" quedandonos únicamente con el año de "release_date" para mayor comodidad y filtramos errores o valores nulos que vayan quedando en el camino

In [10]:
df_userforgenre["release_year"] = df_userforgenre["release_date"].str[:4]

In [11]:
df_userforgenre.drop('release_date', axis=1, inplace=True)

In [12]:
df_userforgenre

,user_id,genres,playtime_forever,release_year
0,76561197970982479,['Action'],6,2000
1,js41637,['Action'],0,2000
2,Riot-Punch,['Action'],0,2000
3,doctr,['Action'],93,2000
4,corrupted_soul,['Action'],108,2000
...,...,...,...,...
4244824,peter1023199,"['Racing', 'Simulation', 'Sports']",6,2016
4244825,76561198071808318,"['Adventure', 'Indie']",46,2016
4244826,76561198081168593,['Strategy'],51,2016
4244828,76561198107283457,"['Action', 'Casual', 'Indie', 'Simulation']",164,2016
4244829,inven,"['Adventure', 'Indie', 'RPG']",0,2016

In [13]:
df_userforgenre["release_year"] = pd.to_numeric(df_userforgenre["release_year"], errors='coerce')

In [14]:
h.data_info(df_userforgenre)

Total rows:  4149883

Total full null rows:  0

Total duplicated rows: 329965

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,user_id,[<class 'str'>],100.00,4149883,0.00,0
1,genres,[<class 'str'>],100.00,4149883,0.00,0
2,playtime_forever,[<class 'int'>],100.00,4149883,0.00,0
3,release_year,[<class 'float'>],99.42,4125949,0.58,23934

In [15]:
df_userforgenre.dropna(inplace=True)

In [16]:
h.data_info(df_userforgenre)

Total rows:  4125949

Total full null rows:  0

Total duplicated rows: 329798

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,user_id,[<class 'str'>],100.0,4125949,0.0,0
1,genres,[<class 'str'>],100.0,4125949,0.0,0
2,playtime_forever,[<class 'int'>],100.0,4125949,0.0,0
3,release_year,[<class 'float'>],100.0,4125949,0.0,0

In [17]:
df_userforgenre['release_year'] = df_userforgenre['release_year'].astype(int)

In [18]:
df_userforgenre

,user_id,genres,playtime_forever,release_year
0,76561197970982479,['Action'],6,2000
1,js41637,['Action'],0,2000
2,Riot-Punch,['Action'],0,2000
3,doctr,['Action'],93,2000
4,corrupted_soul,['Action'],108,2000
...,...,...,...,...
4244824,peter1023199,"['Racing', 'Simulation', 'Sports']",6,2016
4244825,76561198071808318,"['Adventure', 'Indie']",46,2016
4244826,76561198081168593,['Strategy'],51,2016
4244828,76561198107283457,"['Action', 'Casual', 'Indie', 'Simulation']",164,2016
4244829,inven,"['Adventure', 'Indie', 'RPG']",0,2016

Convertimos la columna "genres" en listas y utilizamos explode. Luego finalmente utilizamos groupby para agrupar los datos para generar un dataset para cumplir con la consigna.

In [19]:
df_userforgenre['genres'] = df_userforgenre['genres'].apply(eval)

In [20]:
df_userforgenre = df_userforgenre.explode('genres')

In [21]:
df_userforgenre

                   user_id      genres  playtime_forever  release_year
0        76561197970982479      Action                 6          2000
1                  js41637      Action                 0          2000
2               Riot-Punch      Action                 0          2000
3                    doctr      Action                93          2000
4           corrupted_soul      Action               108          2000
...                    ...         ...               ...           ...
4244828  76561198107283457       Indie               164          2016
4244828  76561198107283457  Simulation               164          2016
4244829              inven   Adventure                 0          2016
4244829              inven       Indie                 0          2016
4244829              inven         RPG                 0          2016

[9805136 rows x 4 columns]

Comenzamos a utilizar groupby para obtener un Dataframe con el usuario con más horas jugadas por cada género

In [22]:
grouped_df = df_userforgenre.groupby(['user_id', 'genres'])['playtime_forever'].sum().reset_index()

In [23]:
grouped_df

           user_id        genres  playtime_forever
0          --000--        Action            139465
1          --000--     Adventure             11722
2          --000--        Casual             16135
3          --000--  Early Access               531
4          --000--  Free to Play             20444
...            ...           ...               ...
670322  zzzmidmiss           RPG              2337
670323  zzzmidmiss        Racing                 9
670324  zzzmidmiss    Simulation                16
670325  zzzmidmiss        Sports               210
670326  zzzmidmiss      Strategy              1002

[670327 rows x 3 columns]

In [24]:
idx_max_playtime = grouped_df.groupby('genres')['playtime_forever'].idxmax()

In [25]:
result_df = grouped_df.loc[idx_max_playtime]

In [26]:
result_df

                  user_id                     genres  playtime_forever
485519            Sp3ctre                     Action           1692650
472192       REBAS_AS_F-T                  Adventure           2182066
479391         ScottyG555   Animation &amp; Modeling            168314
447836        Lickidactyl           Audio Production            109916
472195       REBAS_AS_F-T                     Casual           1224933
479393         ScottyG555  Design &amp; Illustration            168314
18051   76561197978756659               Early Access            316969
160609  76561198059330972                  Education             65427
570659         idonothack               Free to Play            808241
472200       REBAS_AS_F-T                      Indie           2401378
417826        Evilutional      Massively Multiplayer            688260
483274           Sky_Wolf              Photo Editing             21885
634706        shinomegami                        RPG           1023495
412843    DownSyndromeKid                     Racing            743445
577998           jimmynoe                 Simulation           1062130
447845        Lickidactyl          Software Training            109916
26187   76561197995725436                     Sports            193206
634711        shinomegami                   Strategy           1104450
248243  76561198073642113                  Utilities            207651
479403         ScottyG555           Video Production            168314
506902            Xyphien             Web Publishing            142964

Normalizamos los valores "Animation &amp; Modeling" y "Design &amp; Illustration"

In [27]:
df_userforgenre['genres'] = df_userforgenre['genres'].replace('Animation &amp; Modeling', 'Animation & Modeling')

In [28]:
df_userforgenre['genres'] = df_userforgenre['genres'].replace('Design &amp; Illustration', 'Design & Illustration')

Ahora obtenemos un Dataframe con la cantidad total de horas jugadas por usuario, género y año

In [29]:
df_agrupado = df_userforgenre.groupby(['user_id', 'genres', 'release_year'])['playtime_forever'].sum().reset_index()

In [30]:
df_userforgenre = df_agrupado

In [31]:
df_userforgenre

            user_id    genres  release_year  playtime_forever
0           --000--    Action          2009              5329
1           --000--    Action          2010                22
2           --000--    Action          2011              6522
3           --000--    Action          2012            109346
4           --000--    Action          2013               363
...             ...       ...           ...               ...
3429398  zzzmidmiss  Strategy          2009                 0
3429399  zzzmidmiss  Strategy          2010                10
3429400  zzzmidmiss  Strategy          2011                69
3429401  zzzmidmiss  Strategy          2012               923
3429402  zzzmidmiss  Strategy          2016                 0

[3429403 rows x 4 columns]

Ahora buscaremos filtrar el Dataframe dejando únicamente los datos del usuario con más horas jugadas por cada género

In [32]:
combinaciones = [
	('Sp3ctre', 'Action'),
	('REBAS_AS_F-T', 'Adventure'),
	('ScottyG555', 'Animation & Modeling'),
	('Lickidactyl', 'Audio Production'),
	('REBAS_AS_F-T', 'Casual'),
	('ScottyG555', 'Design & Illustration'),
	('76561197978756659', 'Early Access'),
	('76561198059330972', 'Education'),
	('idonothack', 'Free to Play'),
	('REBAS_AS_F-T', 'Indie'),
	('Evilutional', 'Massively Multiplayer'),
	('Sky_Wolf', 'Photo Editing'),
	('shinomegami', 'RPG'),
	('DownSyndromeKid', 'Racing'),
	('jimmynoe', 'Simulation'),
	('Lickidactyl', 'Software Training'),
	('76561197995725436', 'Sports'),
	('shinomegami', 'Strategy'),
	('76561198073642113', 'Utilities'),
	('ScottyG555', 'Video Production'),
	('Xyphien', 'Web Publishing')
]

In [33]:
df_resultado = pd.DataFrame(columns=df_userforgenre.columns)

In [34]:
for user_id, genres in combinaciones:
    filtro = (df_userforgenre['user_id'] == user_id) & (df_userforgenre['genres'] == genres)
    df_resultado = pd.concat([df_resultado, df_userforgenre[filtro]])

In [35]:
df_userforgenre = df_resultado

In [36]:
df_userforgenre

                   user_id            genres release_year playtime_forever
2375701            Sp3ctre            Action         1993                0
2375702            Sp3ctre            Action         1995              217
2375703            Sp3ctre            Action         1996                0
2375704            Sp3ctre            Action         1998                0
2375705            Sp3ctre            Action         1999               44
...                    ...               ...          ...              ...
1231094  76561198073642113         Utilities         2014           207651
2339186         ScottyG555  Video Production         2015           168314
2501413            Xyphien    Web Publishing         2005             7296
2501414            Xyphien    Web Publishing         2012            64657
2501415            Xyphien    Web Publishing         2015            71011

[168 rows x 4 columns]

Filtramos las filas que contengan '0' en la columna 'playtime_forever'

In [37]:
df_userforgenre = df_userforgenre[(df_userforgenre['playtime_forever'] != 0)]

Notamos también que la columna 'playtime_forever' está en minutos, por lo que lo convertimos a horas y también convertimos la columna a entero (ya que quedará con valores flotantes). Volvemos a filtrar filas con valores 0 si es que quedaron

In [5]:
df_userforgenre['playtime_forever'] = df_userforgenre['playtime_forever'] / 60

In [7]:
df_userforgenre['playtime_forever'] = df_userforgenre['playtime_forever'].astype(int)

In [9]:
df_userforgenre = df_userforgenre[(df_userforgenre['playtime_forever'] != 0)]

Finalmente guardamos el Dataframe en formato CSV

In [ ]:
df_userforgenre.to_csv('UserForGenre.csv', index=False)

# UsersRecommend

Importamos los Datasets que necesitaremos y hacemos el merge

In [10]:
user_reviews = pd.read_csv('australian_user_reviews_actualizado.csv')
steam_games = pd.read_csv('output_steam_games.csv')

In [11]:
df_usersrecommend = pd.merge(user_reviews, steam_games, left_on='item_id', right_on='id')

In [12]:
df_usersrecommend

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id,user_url,sentiment_analysis,...,app_name,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,No data,"Posted November 5, 2011.",No data,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2,...,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",http://steamcommunity.com/app/1250/reviews/?br...,"['Single-player', 'Multi-player', 'Co-op', 'Cr...",19.99,False,1250,Tripwire Interactive
1,No data,"Posted March 30, 2015.",No data,1250,No ratings yet,True,"Amazing, Non-stop action of blowing stuff to b...",death-hunter,http://steamcommunity.com/id/death-hunter,2,...,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",http://steamcommunity.com/app/1250/reviews/?br...,"['Single-player', 'Multi-player', 'Co-op', 'Cr...",19.99,False,1250,Tripwire Interactive
2,No data,"Posted July 12, 2013.",No data,1250,No ratings yet,True,"Compared to Left 4 Dead 2, this game REALLY gi...",DJKamBer,http://steamcommunity.com/id/DJKamBer,2,...,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",http://steamcommunity.com/app/1250/reviews/?br...,"['Single-player', 'Multi-player', 'Co-op', 'Cr...",19.99,False,1250,Tripwire Interactive
3,No data,"Posted August 13, 2015.",No data,1250,No ratings yet,True,Jogo ♥♥♥♥.,diego9031,http://steamcommunity.com/id/diego9031,1,...,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",http://steamcommunity.com/app/1250/reviews/?br...,"['Single-player', 'Multi-player', 'Co-op', 'Cr...",19.99,False,1250,Tripwire Interactive
4,No data,"Posted April 5, 2014.",No data,1250,No ratings yet,True,cara nas imagens esse jogo da pouco de medo ma...,76561198081962345,http://steamcommunity.com/profiles/76561198081...,1,...,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",http://steamcommunity.com/app/1250/reviews/?br...,"['Single-player', 'Multi-player', 'Co-op', 'Cr...",19.99,False,1250,Tripwire Interactive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53164,No data,"Posted October 29, 2015.",No data,307130,1 of 5 people (20%) found this review helpful,True,"Asteria is a fast paced indie platformer, wrap...",llDracuwulf,http://steamcommunity.com/id/llDracuwulf,2,...,Asteria,http://store.steampowered.com/app/307130/Asteria/,2014-07-03,"['Indie', 'Adventure', 'Action', 'Platformer',...",http://steamcommunity.com/app/307130/reviews/?...,"['Single-player', 'Multi-player', 'Co-op', 'St...",4.99,False,307130,Legend Studio
53165,No data,Posted May 5.,No data,209120,3 of 6 people (50%) found this review helpful,True,"Great game, awkward to get running in windows 10",ChrisCoroner,http://steamcommunity.com/id/ChrisCoroner,0,...,Street Fighter X Tekken,http://store.steampowered.com/app/209120/Stree...,2012-05-11,"['Fighting', 'Action', 'Arcade', '2D Fighter',...",http://steamcommunity.com/app/209120/reviews/?...,"['Single-player', 'Multi-player', 'Co-op', 'Sh...",29.99,False,209120,"Capcom U.S.A., Inc."
53166,1 person found this review funny,Posted August 13.,Last edited August 13.,220090,3 of 6 people (50%) found this review helpful,True,GET THIS GAME AND CHAPTER TWO!!!!!!!!!!!!!!!!!...,MeloncraftLP,http://steamcommunity.com/id/MeloncraftLP,0,...,The Journey Down: Chapter One,http://store.steampowered.com/app/220090/The_J...,2013-01-09,"['Adventure', 'Point & Click', 'Indie', 'Comed...",http://steamcommunity.com/app/220090/reviews/?...,"['Single-player', 'Steam Trading Cards']",8.99,False,220090,SkyGoblin
53167,No data,Posted August 13.,No data,262850,0 of 1 people (0%) found this review helpful,True,THIS GAME!!!!!!!!!!!!!!!!!! WOOOOOOOOOOOOOOOOO...,MeloncraftLP,http://steamcommunity.com/id/MeloncraftLP,0,...,The Journey Down: Chapter Two,http://store.steampowered.com/app/262850/The_J...,2014-08-25,"['Adventure', 'Indie', 'Point & Click', 'Great...",http://steamcommunity.com/app/262850/reviews/?...,"['Single-player', 'Steam Trading Cards']",19.99,False,262850,SkyGoblin
53168,No data,Posted March 5.,No data,431510,8 of 9 people (89%) found this review helpful,True,Highly recommended! The storyline for shou is ...,vinquility,http://steamcommunity.com/id/vinquility,2,...,Mystic Destinies: Serendipity of Aeons,http://store.steampowered.com/app/431510/Mysti...,2016-02-11,"['Visual Novel', 'Otome', 'Female Protagonist'...",http://steamcommunity.com/app/431510/reviews/?...,"['Single-player', 'Steam Achievements', 'Steam...",0.00,False,431510,Aeon Dream Studios

Filtramos las columnas necesarias

In [13]:
df_usersrecommend = df_usersrecommend[['posted', 'app_name', 'recommend', 'sentiment_analysis']]

In [14]:
df_usersrecommend

,posted,app_name,recommend,sentiment_analysis
0,"Posted November 5, 2011.",Killing Floor,True,2
1,"Posted March 30, 2015.",Killing Floor,True,2
2,"Posted July 12, 2013.",Killing Floor,True,2
3,"Posted August 13, 2015.",Killing Floor,True,1
4,"Posted April 5, 2014.",Killing Floor,True,1
...,...,...,...,...
53164,"Posted October 29, 2015.",Asteria,True,2
53165,Posted May 5.,Street Fighter X Tekken,True,0
53166,Posted August 13.,The Journey Down: Chapter One,True,0
53167,Posted August 13.,The Journey Down: Chapter Two,True,0
53168,Posted March 5.,Mystic Destinies: Serendipity of Aeons,True,2

Normalizaremos la columna 'posted' y nos quedaremos solo con el año. Para empezar intentaremos extraer el año.

In [15]:
df = df_usersrecommend

In [16]:
df['year'] = df['posted'].str.extract(r'(\d{4})')

In [17]:
df

,posted,app_name,recommend,sentiment_analysis,year
0,"Posted November 5, 2011.",Killing Floor,True,2,2011
1,"Posted March 30, 2015.",Killing Floor,True,2,2015
2,"Posted July 12, 2013.",Killing Floor,True,2,2013
3,"Posted August 13, 2015.",Killing Floor,True,1,2015
4,"Posted April 5, 2014.",Killing Floor,True,1,2014
...,...,...,...,...,...
53164,"Posted October 29, 2015.",Asteria,True,2,2015
53165,Posted May 5.,Street Fighter X Tekken,True,0,NaN
53166,Posted August 13.,The Journey Down: Chapter One,True,0,NaN
53167,Posted August 13.,The Journey Down: Chapter Two,True,0,NaN
53168,Posted March 5.,Mystic Destinies: Serendipity of Aeons,True,2,NaN

Eliminamos las filas con valores nulos ya que significa que en la columna 'posted' no especificaba un año y también eliminamos la columna 'posted'

In [128]:
df.dropna(inplace=True)

In [129]:
df.drop('posted', axis=1, inplace=True)

In [130]:
df

                  app_name  recommend  sentiment_analysis  year
0            Killing Floor       True                   2  2011
1            Killing Floor       True                   2  2015
2            Killing Floor       True                   2  2013
3            Killing Floor       True                   1  2015
4            Killing Floor       True                   1  2014
...                    ...        ...                 ...   ...
53160         Aero's Quest       True                   0  2015
53161         Aero's Quest       True                   2  2015
53162  Another Perspective      False                   0  2015
53163           The Howler       True                   2  2015
53164              Asteria       True                   2  2015

[44087 rows x 4 columns]

In [160]:
h.data_info(df)

Total rows:  44087

Total full null rows:  0

Total duplicated rows: 35629

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,app_name,[<class 'str'>],100.0,44087,0.0,0
1,recommend,[<class 'bool'>],100.0,44087,0.0,0
2,sentiment_analysis,[<class 'int'>],100.0,44087,0.0,0
3,year,[<class 'int'>],100.0,44087,0.0,0

In [161]:
df_usersrecommend = df

Convertimos la columna 'year' a tipo entero

In [162]:
df_usersrecommend['year'] = df_usersrecommend['year'].astype(int)

In [163]:
df_usersrecommend

                  app_name  recommend  sentiment_analysis  year
0            Killing Floor       True                   2  2011
1            Killing Floor       True                   2  2015
2            Killing Floor       True                   2  2013
3            Killing Floor       True                   1  2015
4            Killing Floor       True                   1  2014
...                    ...        ...                 ...   ...
53160         Aero's Quest       True                   0  2015
53161         Aero's Quest       True                   2  2015
53162  Another Perspective      False                   0  2015
53163           The Howler       True                   2  2015
53164              Asteria       True                   2  2015

[44087 rows x 4 columns]

Filtramos los valores 'False' en la columna 'recommend' y los valores 0 en la columna 'sentiment_analysis'

In [164]:
df_usersrecommend = df_usersrecommend[(df_usersrecommend['recommend'] != False)]

In [165]:
df_usersrecommend = df_usersrecommend[(df_usersrecommend['sentiment_analysis'] != 0)]

In [166]:
df_usersrecommend

            app_name  recommend  sentiment_analysis  year
0      Killing Floor       True                   2  2011
1      Killing Floor       True                   2  2015
2      Killing Floor       True                   2  2013
3      Killing Floor       True                   1  2015
4      Killing Floor       True                   1  2014
...              ...        ...                 ...   ...
53158          Pongo       True                   2  2015
53159         Millie       True                   1  2015
53161   Aero's Quest       True                   2  2015
53163     The Howler       True                   2  2015
53164        Asteria       True                   2  2015

[32885 rows x 4 columns]

Eliminamos la columna 'recommend' ya que dejó de ser necesaria

In [167]:
df_usersrecommend.drop('recommend', axis=1, inplace=True)

In [168]:
df_usersrecommend

            app_name  sentiment_analysis  year
0      Killing Floor                   2  2011
1      Killing Floor                   2  2015
2      Killing Floor                   2  2013
3      Killing Floor                   1  2015
4      Killing Floor                   1  2014
...              ...                 ...   ...
53158          Pongo                   2  2015
53159         Millie                   1  2015
53161   Aero's Quest                   2  2015
53163     The Howler                   2  2015
53164        Asteria                   2  2015

[32885 rows x 3 columns]

Creamos una nueva columna llamada 'recommendations' que sumará los valores de 'sentiment_analysis' por juego y año. Los sumaré para darle mayor peso a aquellos que recibieron una reseña positiva, ya que no es lo mismo una reseña positiva que neutral o nula (recordemos que aquellos juegos que no tienen reseña se les asignó una reseña neutral)

In [169]:
df_usersrecommend['recommendations'] = df_usersrecommend.groupby(['app_name', 'year'])['sentiment_analysis'].transform('sum')

In [170]:
df_usersrecommend

            app_name  sentiment_analysis  year  recommendations
0      Killing Floor                   2  2011               24
1      Killing Floor                   2  2015               48
2      Killing Floor                   2  2013              120
3      Killing Floor                   1  2015               48
4      Killing Floor                   1  2014              184
...              ...                 ...   ...              ...
53158          Pongo                   2  2015                2
53159         Millie                   1  2015                1
53161   Aero's Quest                   2  2015                2
53163     The Howler                   2  2015                2
53164        Asteria                   2  2015                2

[32885 rows x 4 columns]

Eliminamos duplicados y la columna 'sentiment_analysis'

In [171]:
df_usersrecommend = df_usersrecommend[['app_name', 'year', 'recommendations']].drop_duplicates()

In [172]:
df_usersrecommend

            app_name  year  recommendations
0      Killing Floor  2011               24
1      Killing Floor  2015               48
2      Killing Floor  2013              120
4      Killing Floor  2014              184
5      Killing Floor  2010               11
...              ...   ...              ...
53158          Pongo  2015                2
53159         Millie  2015                1
53161   Aero's Quest  2015                2
53163     The Howler  2015                2
53164        Asteria  2015                2

[3587 rows x 3 columns]

Le cambiamos el nombre a la columna 'recommendations' por 'recommend_score', ya que es un nombre más adecuado

In [5]:
df_usersrecommend = df_usersrecommend.rename(columns={'recommendations': 'recommend_score'})

Guardamos el Dataframe en formato CSV

In [6]:
df_usersrecommend.to_csv('UsersRecommend.csv', index=False)

# UsersWorstDeveloper

Importamos los Datasets que necesitaremos y hacemos el merge

In [266]:
user_reviews = pd.read_csv('australian_user_reviews_actualizado.csv')
steam_games = pd.read_csv('output_steam_games.csv')

In [267]:
df_usersworstdeveloper = pd.merge(user_reviews, steam_games, left_on='item_id', right_on='id')

In [268]:
df_usersworstdeveloper

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id,user_url,sentiment_analysis,...,app_name,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,No data,"Posted November 5, 2011.",No data,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2,...,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",http://steamcommunity.com/app/1250/reviews/?br...,"['Single-player', 'Multi-player', 'Co-op', 'Cr...",19.99,False,1250,Tripwire Interactive
1,No data,"Posted March 30, 2015.",No data,1250,No ratings yet,True,"Amazing, Non-stop action of blowing stuff to b...",death-hunter,http://steamcommunity.com/id/death-hunter,2,...,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",http://steamcommunity.com/app/1250/reviews/?br...,"['Single-player', 'Multi-player', 'Co-op', 'Cr...",19.99,False,1250,Tripwire Interactive
2,No data,"Posted July 12, 2013.",No data,1250,No ratings yet,True,"Compared to Left 4 Dead 2, this game REALLY gi...",DJKamBer,http://steamcommunity.com/id/DJKamBer,2,...,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",http://steamcommunity.com/app/1250/reviews/?br...,"['Single-player', 'Multi-player', 'Co-op', 'Cr...",19.99,False,1250,Tripwire Interactive
3,No data,"Posted August 13, 2015.",No data,1250,No ratings yet,True,Jogo ♥♥♥♥.,diego9031,http://steamcommunity.com/id/diego9031,1,...,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",http://steamcommunity.com/app/1250/reviews/?br...,"['Single-player', 'Multi-player', 'Co-op', 'Cr...",19.99,False,1250,Tripwire Interactive
4,No data,"Posted April 5, 2014.",No data,1250,No ratings yet,True,cara nas imagens esse jogo da pouco de medo ma...,76561198081962345,http://steamcommunity.com/profiles/76561198081...,1,...,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",http://steamcommunity.com/app/1250/reviews/?br...,"['Single-player', 'Multi-player', 'Co-op', 'Cr...",19.99,False,1250,Tripwire Interactive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53164,No data,"Posted October 29, 2015.",No data,307130,1 of 5 people (20%) found this review helpful,True,"Asteria is a fast paced indie platformer, wrap...",llDracuwulf,http://steamcommunity.com/id/llDracuwulf,2,...,Asteria,http://store.steampowered.com/app/307130/Asteria/,2014-07-03,"['Indie', 'Adventure', 'Action', 'Platformer',...",http://steamcommunity.com/app/307130/reviews/?...,"['Single-player', 'Multi-player', 'Co-op', 'St...",4.99,False,307130,Legend Studio
53165,No data,Posted May 5.,No data,209120,3 of 6 people (50%) found this review helpful,True,"Great game, awkward to get running in windows 10",ChrisCoroner,http://steamcommunity.com/id/ChrisCoroner,0,...,Street Fighter X Tekken,http://store.steampowered.com/app/209120/Stree...,2012-05-11,"['Fighting', 'Action', 'Arcade', '2D Fighter',...",http://steamcommunity.com/app/209120/reviews/?...,"['Single-player', 'Multi-player', 'Co-op', 'Sh...",29.99,False,209120,"Capcom U.S.A., Inc."
53166,1 person found this review funny,Posted August 13.,Last edited August 13.,220090,3 of 6 people (50%) found this review helpful,True,GET THIS GAME AND CHAPTER TWO!!!!!!!!!!!!!!!!!...,MeloncraftLP,http://steamcommunity.com/id/MeloncraftLP,0,...,The Journey Down: Chapter One,http://store.steampowered.com/app/220090/The_J...,2013-01-09,"['Adventure', 'Point & Click', 'Indie', 'Comed...",http://steamcommunity.com/app/220090/reviews/?...,"['Single-player', 'Steam Trading Cards']",8.99,False,220090,SkyGoblin
53167,No data,Posted August 13.,No data,262850,0 of 1 people (0%) found this review helpful,True,THIS GAME!!!!!!!!!!!!!!!!!! WOOOOOOOOOOOOOOOOO...,MeloncraftLP,http://steamcommunity.com/id/MeloncraftLP,0,...,The Journey Down: Chapter Two,http://store.steampowered.com/app/262850/The_J...,2014-08-25,"['Adventure', 'Indie', 'Point & Click', 'Great...",http://steamcommunity.com/app/262850/reviews/?...,"['Single-player', 'Steam Trading Cards']",19.99,False,262850,SkyGoblin
53168,No data,Posted March 5.,No data,431510,8 of 9 people (89%) found this review helpful,True,Highly recommended! The storyline for shou is ...,vinquility,http://steamcommunity.com/id/vinquility,2,...,Mystic Destinies: Serendipity of Aeons,http://store.steampowered.com/app/431510/Mysti...,2016-02-11,"['Visual Novel', 'Otome', 'Female Protagonist'...",http://steamcommunity.com/app/431510/reviews/?...,"['Single-player', 'Steam Achievements', 'Steam...",0.00,False,431510,Aeon Dream Studios

Filtramos las columnas necesarias

In [269]:
df_usersworstdeveloper = df_usersworstdeveloper[['developer', 'posted', 'recommend', 'sentiment_analysis']]

In [270]:
df_usersworstdeveloper

,developer,posted,recommend,sentiment_analysis
0,Tripwire Interactive,"Posted November 5, 2011.",True,2
1,Tripwire Interactive,"Posted March 30, 2015.",True,2
2,Tripwire Interactive,"Posted July 12, 2013.",True,2
3,Tripwire Interactive,"Posted August 13, 2015.",True,1
4,Tripwire Interactive,"Posted April 5, 2014.",True,1
...,...,...,...,...
53164,Legend Studio,"Posted October 29, 2015.",True,2
53165,"Capcom U.S.A., Inc.",Posted May 5.,True,0
53166,SkyGoblin,Posted August 13.,True,0
53167,SkyGoblin,Posted August 13.,True,0
53168,Aeon Dream Studios,Posted March 5.,True,2

Filtramos valores 'No data'

In [271]:
df_usersworstdeveloper = df_usersworstdeveloper[(df_usersworstdeveloper['developer'] != 'No data')]

In [272]:
df_usersworstdeveloper

,developer,posted,recommend,sentiment_analysis
0,Tripwire Interactive,"Posted November 5, 2011.",True,2
1,Tripwire Interactive,"Posted March 30, 2015.",True,2
2,Tripwire Interactive,"Posted July 12, 2013.",True,2
3,Tripwire Interactive,"Posted August 13, 2015.",True,1
4,Tripwire Interactive,"Posted April 5, 2014.",True,1
...,...,...,...,...
53164,Legend Studio,"Posted October 29, 2015.",True,2
53165,"Capcom U.S.A., Inc.",Posted May 5.,True,0
53166,SkyGoblin,Posted August 13.,True,0
53167,SkyGoblin,Posted August 13.,True,0
53168,Aeon Dream Studios,Posted March 5.,True,2

Extraemos el año de la columna 'posted' y eliminamos aquellas filas que no tengan año (nulos). También eliminamos la columna 'posted' luego de hacer la conversión

In [273]:
df_usersworstdeveloper['year'] = df_usersworstdeveloper['posted'].str.extract(r'(\d{4})')

In [274]:
df_usersworstdeveloper.dropna(inplace=True)

In [275]:
df_usersworstdeveloper.drop('posted', axis=1, inplace=True)

In [276]:
df_usersworstdeveloper

,developer,recommend,sentiment_analysis,year
0,Tripwire Interactive,True,2,2011
1,Tripwire Interactive,True,2,2015
2,Tripwire Interactive,True,2,2013
3,Tripwire Interactive,True,1,2015
4,Tripwire Interactive,True,1,2014
...,...,...,...,...
53160,"Soloweb Studios,Ravens Eye Studio",True,0,2015
53161,"Soloweb Studios,Ravens Eye Studio",True,2,2015
53162,ShaunJS,False,0,2015
53163,"Antanas Marcelionis,Renė Petrulienė",True,2,2015
53164,Legend Studio,True,2,2015

Convertimos la columna 'year' a entero

In [277]:
df_usersworstdeveloper['year'] = df_usersworstdeveloper['year'].astype(int)

In [278]:
df_usersworstdeveloper

,developer,recommend,sentiment_analysis,year
0,Tripwire Interactive,True,2,2011
1,Tripwire Interactive,True,2,2015
2,Tripwire Interactive,True,2,2013
3,Tripwire Interactive,True,1,2015
4,Tripwire Interactive,True,1,2014
...,...,...,...,...
53160,"Soloweb Studios,Ravens Eye Studio",True,0,2015
53161,"Soloweb Studios,Ravens Eye Studio",True,2,2015
53162,ShaunJS,False,0,2015
53163,"Antanas Marcelionis,Renė Petrulienė",True,2,2015
53164,Legend Studio,True,2,2015

In [279]:
df = df_usersworstdeveloper

Filtramos los valores 'True' y las reseñas buenas o neutrales

In [280]:
df = df[(df['recommend'] != True)]

In [281]:
df = df[(df['sentiment_analysis'] != 2)]

In [282]:
df = df[(df['sentiment_analysis'] != 1)]

In [283]:
df

                      developer  recommend  sentiment_analysis  year
29         Tripwire Interactive      False                   0  2014
111        Tripwire Interactive      False                   0  2014
281        Tripwire Interactive      False                   0  2014
282        Tripwire Interactive      False                   0  2015
420                SCS Software      False                   0  2015
...                         ...        ...                 ...   ...
53078                 Alientrap      False                   0  2015
53115                Crian Soft      False                   0  2015
53117  Eric Provan - Ayyo Games      False                   0  2014
53127              Gaijin Games      False                   0  2013
53162                   ShaunJS      False                   0  2015

[1887 rows x 4 columns]

Eliminamos las columnas 'recommend' y 'sentiment_analysis' ya que dejaron de ser necesarias

In [284]:
df.drop('recommend', axis=1, inplace=True)

In [285]:
df.drop('sentiment_analysis', axis=1, inplace=True)

In [286]:
df

                      developer  year
29         Tripwire Interactive  2014
111        Tripwire Interactive  2014
281        Tripwire Interactive  2014
282        Tripwire Interactive  2015
420                SCS Software  2015
...                         ...   ...
53078                 Alientrap  2015
53115                Crian Soft  2015
53117  Eric Provan - Ayyo Games  2014
53127              Gaijin Games  2013
53162                   ShaunJS  2015

[1887 rows x 2 columns]

Utilizamos groupby para realizar un conteo de malas reseñas y creamos una nueva columna llamada 'bad_reviews'. Al finalizar eliminamos duplicados que quedaron al hacer groupby

In [287]:
counts = df.groupby(['developer', 'year']).size().reset_index(name='bad_reviews')

In [288]:
counts

                                             developer  year  bad_reviews
0                                           1C Company  2011            1
1                                            1C-Avalon  2015            1
2                                     1C: Maddox Games  2014            1
3    2K Australia,Gearbox Software,Aspyr (Mac and L...  2014            2
4    2K Australia,Gearbox Software,Aspyr (Mac and L...  2015            5
..                                                 ...   ...          ...
732                                nFusion Interactive  2015            1
733                                          roseVeRte  2015            1
734                                       storm_sharks  2015            1
735                                  the whale husband  2015            1
736                                            tobyfox  2015            4

[737 rows x 3 columns]

Podemos notar que no hay muchas reseñas negativas, lo que podría generar empates cuando creemos la función para devolver el top 3, debemos crear un criterio de desempate. Para desempatar, crearemos la columna 'recommend_score' basandonos en la columna creada para el Dataset anterior con reseñas positivas. Entonces en caso de empate con reseñas negativas, utilizaremos la columna 'recommend_score' y aquella desarrolladora que tenga menos puntaje allí será el que vaya un puesto más arriba.

In [289]:
df_usersworstdeveloper

,developer,recommend,sentiment_analysis,year
0,Tripwire Interactive,True,2,2011
1,Tripwire Interactive,True,2,2015
2,Tripwire Interactive,True,2,2013
3,Tripwire Interactive,True,1,2015
4,Tripwire Interactive,True,1,2014
...,...,...,...,...
53160,"Soloweb Studios,Ravens Eye Studio",True,0,2015
53161,"Soloweb Studios,Ravens Eye Studio",True,2,2015
53162,ShaunJS,False,0,2015
53163,"Antanas Marcelionis,Renė Petrulienė",True,2,2015
53164,Legend Studio,True,2,2015

In [290]:
df = df_usersworstdeveloper

In [291]:
df['bad_reviews'] = (df['recommend'] == False) & (df['sentiment_analysis'] == 0)

In [292]:
df['bad_reviews'] = df['bad_reviews'].astype(int)

In [293]:
df

,developer,recommend,sentiment_analysis,year,bad_reviews
0,Tripwire Interactive,True,2,2011,0
1,Tripwire Interactive,True,2,2015,0
2,Tripwire Interactive,True,2,2013,0
3,Tripwire Interactive,True,1,2015,0
4,Tripwire Interactive,True,1,2014,0
...,...,...,...,...,...
53160,"Soloweb Studios,Ravens Eye Studio",True,0,2015,0
53161,"Soloweb Studios,Ravens Eye Studio",True,2,2015,0
53162,ShaunJS,False,0,2015,1
53163,"Antanas Marcelionis,Renė Petrulienė",True,2,2015,0
53164,Legend Studio,True,2,2015,0

Creamos la columna 'recommend_score' y luego filtramos los valores indeseados

In [294]:
df['recommend_score'] = (df['recommend'] == True) & ((df['sentiment_analysis'] == 1) | (df['sentiment_analysis'] == 2))

In [295]:
df['recommend_score'] = df['recommend_score'] * df['sentiment_analysis']

In [296]:
df = df[~((df['recommend'] == True) & (df['sentiment_analysis'] == 0))]

In [297]:
df = df[~((df['recommend'] == False) & (df['sentiment_analysis'] == 1))]

In [298]:
df = df[~((df['recommend'] == False) & (df['sentiment_analysis'] == 2))]

In [299]:
df

,developer,recommend,sentiment_analysis,year,bad_reviews,recommend_score
0,Tripwire Interactive,True,2,2011,0,2
1,Tripwire Interactive,True,2,2015,0,2
2,Tripwire Interactive,True,2,2013,0,2
3,Tripwire Interactive,True,1,2015,0,1
4,Tripwire Interactive,True,1,2014,0,1
...,...,...,...,...,...,...
53159,Forever Entertainment S. A.,True,1,2015,0,1
53161,"Soloweb Studios,Ravens Eye Studio",True,2,2015,0,2
53162,ShaunJS,False,0,2015,1,0
53163,"Antanas Marcelionis,Renė Petrulienė",True,2,2015,0,2
53164,Legend Studio,True,2,2015,0,2

Eliminamos las columnas 'recommend' y 'sentiment_analysis' porque dejaron de ser necesarias

In [300]:
df.drop('recommend', axis=1, inplace=True)

In [301]:
df.drop('sentiment_analysis', axis=1, inplace=True)

In [302]:
df

                                 developer  year  bad_reviews  recommend_score
0                     Tripwire Interactive  2011            0                2
1                     Tripwire Interactive  2015            0                2
2                     Tripwire Interactive  2013            0                2
3                     Tripwire Interactive  2015            0                1
4                     Tripwire Interactive  2014            0                1
...                                    ...   ...          ...              ...
53159          Forever Entertainment S. A.  2015            0                1
53161    Soloweb Studios,Ravens Eye Studio  2015            0                2
53162                              ShaunJS  2015            1                0
53163  Antanas Marcelionis,Renė Petrulienė  2015            0                2
53164                        Legend Studio  2015            0                2

[32491 rows x 4 columns]

Agrupamos

In [303]:
df_agrupado = df.groupby(['developer', 'year']).agg({'bad_reviews': 'sum', 'recommend_score': 'sum'}).reset_index()

In [304]:
df_agrupado

,developer,year,bad_reviews,recommend_score
0,07th Expansion,2015,0,1
1,"10th Art Studio,Adventure Productions",2015,0,2
2,11 bit studios,2014,0,20
3,11 bit studios,2015,0,30
4,14° East,2015,0,2
...,...,...,...,...
2743,the whale husband,2015,1,12
2744,tobyfox,2015,4,167
2745,varlamov5264,2015,0,1
2746,vidiludi games and entertainment,2015,0,2
2747,"高考恋爱委员会,橘子班",2015,0,2

Filtramos aquellas desarrolladoras que no tengan malas reseñas en el año especificado

In [305]:
df_usersworstdeveloper = df_agrupado

In [306]:
df_usersworstdeveloper = df_usersworstdeveloper[(df_usersworstdeveloper['bad_reviews'] != 0)]

In [312]:
df_usersworstdeveloper

,developer,year,bad_reviews,recommend_score
7,1C Company,2011,1,0
9,1C-Avalon,2015,1,0
11,1C: Maddox Games,2014,1,6
20,"2K Australia,Gearbox Software,Aspyr (Mac and L...",2014,2,47
21,"2K Australia,Gearbox Software,Aspyr (Mac and L...",2015,5,39
...,...,...,...,...
2730,nFusion Interactive,2015,1,0
2735,roseVeRte,2015,1,0
2742,storm_sharks,2015,1,0
2743,the whale husband,2015,1,12
2744,tobyfox,2015,4,167

Reemplazamos los valores '&amp' por '&' y guardamos el Dataframe en formato CSV

In [313]:
df_usersworstdeveloper['developer'] = df_usersworstdeveloper['developer'].str.replace('&amp;', '&')

In [314]:
df_usersworstdeveloper.to_csv('UsersWorstDeveloper.csv', index=False)

# sentiment_analysis

Importamos los Datasets que necesitaremos y merge

In [18]:
user_reviews = pd.read_csv('australian_user_reviews_actualizado.csv')
steam_games = pd.read_csv('output_steam_games.csv')

In [19]:
df_sentiment_analysis = pd.merge(user_reviews, steam_games, left_on='item_id', right_on='id')

In [20]:
df_sentiment_analysis

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id,user_url,sentiment_analysis,...,app_name,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,No data,"Posted November 5, 2011.",No data,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2,...,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",http://steamcommunity.com/app/1250/reviews/?br...,"['Single-player', 'Multi-player', 'Co-op', 'Cr...",19.99,False,1250,Tripwire Interactive
1,No data,"Posted March 30, 2015.",No data,1250,No ratings yet,True,"Amazing, Non-stop action of blowing stuff to b...",death-hunter,http://steamcommunity.com/id/death-hunter,2,...,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",http://steamcommunity.com/app/1250/reviews/?br...,"['Single-player', 'Multi-player', 'Co-op', 'Cr...",19.99,False,1250,Tripwire Interactive
2,No data,"Posted July 12, 2013.",No data,1250,No ratings yet,True,"Compared to Left 4 Dead 2, this game REALLY gi...",DJKamBer,http://steamcommunity.com/id/DJKamBer,2,...,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",http://steamcommunity.com/app/1250/reviews/?br...,"['Single-player', 'Multi-player', 'Co-op', 'Cr...",19.99,False,1250,Tripwire Interactive
3,No data,"Posted August 13, 2015.",No data,1250,No ratings yet,True,Jogo ♥♥♥♥.,diego9031,http://steamcommunity.com/id/diego9031,1,...,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",http://steamcommunity.com/app/1250/reviews/?br...,"['Single-player', 'Multi-player', 'Co-op', 'Cr...",19.99,False,1250,Tripwire Interactive
4,No data,"Posted April 5, 2014.",No data,1250,No ratings yet,True,cara nas imagens esse jogo da pouco de medo ma...,76561198081962345,http://steamcommunity.com/profiles/76561198081...,1,...,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",http://steamcommunity.com/app/1250/reviews/?br...,"['Single-player', 'Multi-player', 'Co-op', 'Cr...",19.99,False,1250,Tripwire Interactive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53164,No data,"Posted October 29, 2015.",No data,307130,1 of 5 people (20%) found this review helpful,True,"Asteria is a fast paced indie platformer, wrap...",llDracuwulf,http://steamcommunity.com/id/llDracuwulf,2,...,Asteria,http://store.steampowered.com/app/307130/Asteria/,2014-07-03,"['Indie', 'Adventure', 'Action', 'Platformer',...",http://steamcommunity.com/app/307130/reviews/?...,"['Single-player', 'Multi-player', 'Co-op', 'St...",4.99,False,307130,Legend Studio
53165,No data,Posted May 5.,No data,209120,3 of 6 people (50%) found this review helpful,True,"Great game, awkward to get running in windows 10",ChrisCoroner,http://steamcommunity.com/id/ChrisCoroner,0,...,Street Fighter X Tekken,http://store.steampowered.com/app/209120/Stree...,2012-05-11,"['Fighting', 'Action', 'Arcade', '2D Fighter',...",http://steamcommunity.com/app/209120/reviews/?...,"['Single-player', 'Multi-player', 'Co-op', 'Sh...",29.99,False,209120,"Capcom U.S.A., Inc."
53166,1 person found this review funny,Posted August 13.,Last edited August 13.,220090,3 of 6 people (50%) found this review helpful,True,GET THIS GAME AND CHAPTER TWO!!!!!!!!!!!!!!!!!...,MeloncraftLP,http://steamcommunity.com/id/MeloncraftLP,0,...,The Journey Down: Chapter One,http://store.steampowered.com/app/220090/The_J...,2013-01-09,"['Adventure', 'Point & Click', 'Indie', 'Comed...",http://steamcommunity.com/app/220090/reviews/?...,"['Single-player', 'Steam Trading Cards']",8.99,False,220090,SkyGoblin
53167,No data,Posted August 13.,No data,262850,0 of 1 people (0%) found this review helpful,True,THIS GAME!!!!!!!!!!!!!!!!!! WOOOOOOOOOOOOOOOOO...,MeloncraftLP,http://steamcommunity.com/id/MeloncraftLP,0,...,The Journey Down: Chapter Two,http://store.steampowered.com/app/262850/The_J...,2014-08-25,"['Adventure', 'Indie', 'Point & Click', 'Great...",http://steamcommunity.com/app/262850/reviews/?...,"['Single-player', 'Steam Trading Cards']",19.99,False,262850,SkyGoblin
53168,No data,Posted March 5.,No data,431510,8 of 9 people (89%) found this review helpful,True,Highly recommended! The storyline for shou is ...,vinquility,http://steamcommunity.com/id/vinquility,2,...,Mystic Destinies: Serendipity of Aeons,http://store.steampowered.com/app/431510/Mysti...,2016-02-11,"['Visual Novel', 'Otome', 'Female Protagonist'...",http://steamcommunity.com/app/431510/reviews/?...,"['Single-player', 'Steam Achievements', 'Steam...",0.00,False,431510,Aeon Dream Studios

Filtramos las columnas de interes

In [21]:
df_sentiment_analysis = df_sentiment_analysis[['developer', 'sentiment_analysis']]

In [22]:
df_sentiment_analysis

                  developer  sentiment_analysis
0      Tripwire Interactive                   2
1      Tripwire Interactive                   2
2      Tripwire Interactive                   2
3      Tripwire Interactive                   1
4      Tripwire Interactive                   1
...                     ...                 ...
53164         Legend Studio                   2
53165   Capcom U.S.A., Inc.                   0
53166             SkyGoblin                   0
53167             SkyGoblin                   0
53168    Aeon Dream Studios                   2

[53169 rows x 2 columns]

Filtramos valores 'No data'

In [23]:
df_sentiment_analysis = df_sentiment_analysis[(df_sentiment_analysis['developer'] != 'No data')]

In [24]:
df_sentiment_analysis

                  developer  sentiment_analysis
0      Tripwire Interactive                   2
1      Tripwire Interactive                   2
2      Tripwire Interactive                   2
3      Tripwire Interactive                   1
4      Tripwire Interactive                   1
...                     ...                 ...
53164         Legend Studio                   2
53165   Capcom U.S.A., Inc.                   0
53166             SkyGoblin                   0
53167             SkyGoblin                   0
53168    Aeon Dream Studios                   2

[49602 rows x 2 columns]

Creamos columnas con conteo de reseñas por tipo (buenas, neutrales o malas)

In [25]:
df_sentiment_analysis['good_reviews'] = (df_sentiment_analysis['sentiment_analysis'] == 2).astype(int)
df_sentiment_analysis['neutral_reviews'] = (df_sentiment_analysis['sentiment_analysis'] == 1).astype(int)
df_sentiment_analysis['bad_reviews'] = (df_sentiment_analysis['sentiment_analysis'] == 0).astype(int)

Agrupamos y sumamos los conteos

In [26]:
result_df = df_sentiment_analysis.groupby('developer').agg({'good_reviews': 'sum', 'neutral_reviews': 'sum', 'bad_reviews': 'sum'}).reset_index()

In [27]:
result_df

,developer,good_reviews,neutral_reviews,bad_reviews
0,07th Expansion,0,2,1
1,"10th Art Studio,Adventure Productions",1,1,0
2,10tons Ltd,1,0,0
3,11 bit studios,30,10,22
4,14° East,1,0,1
...,...,...,...,...
2103,xXarabongXx,1,0,0
2104,△○□× (Miwashiba),5,0,0
2105,"インレ,Inre",1,3,1
2106,橘子班,1,2,1
2107,"高考恋爱委员会,橘子班",1,1,0

In [28]:
df_sentiment_analysis = result_df

Reemplazamos valores '&amp' por '&' en la columna developer

In [29]:
df_sentiment_analysis['developer'] = df_sentiment_analysis['developer'].str.replace('&amp;', '&')

Guardamos el Dataframe en formato CSV

In [30]:
df_sentiment_analysis.to_csv('sentiment_analysis.csv', index=False)